@import '../../variables.scss';

.loader-container {
  height: auto;
  min-height: 100vw;
  background-color: $primarycolor;
  padding-top: 7vw;
  text-align: center;
  h5 {
    color: $secondarycolor;
    font-family: $secondaryfont;
    font-size: 35px;
    margin: 8vh 0 0 10vw;
  }
}

@media only screen and (max-width: 400px) {
  .loader-container {
    height: auto;
    min-height: 195vw;
    padding-top: 50vw;
    h5 {
      font-size: 35px;
      margin: 8vh 0 0 10vw;
    }
  }
}
