@import '../../variables.scss';

.mentor-card-container {
  margin: 2vw;
  padding: 2vw;
  height: 30vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 6px solid white;

  button {
    border: 5px solid $secondarycolor;
    margin-top: 0;
  }
  img {
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    margin-bottom: 3vw;
  }
  h2, h3, p {
    margin: 0;
    text-align: center;
    margin-bottom: .5vw;
  }
  p {
    margin-bottom: 2vw;
  }
  h2 {
    font-size: 2vw;
    color: $secondarycolor;
  }

  &:hover {
    border-color: $secondarycolor;
  }
}
