@import '../../variables.scss';

.about-container {
  height: auto;
  min-height: 100vw;
  background-color: $primarycolor;
  padding-top: 7vw;
  text-align: center;

  h5 {
    font-family: $secondaryfont;
    color: $secondarycolor;
    font-size: 2vw;
  }
}

@media only screen and (max-width: 400px) {

  .about-container {
    padding-top: 40vw;
    height: auto;
    min-height: 175vw;

    h5 {
      font-size: 8vw;
    }
  }

}
