@import '../../variables.scss';

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primarycolor;
  height: 100vh;
  padding-top: 5vw;
  p {
    font-family: $secondaryfont;
    color: $secondarycolor;
    font-size: 1.3vw;
  }
  button {
    width: 15vw;
    margin: .5vw;
    padding: 1vw;
    border: 5px solid $secondarycolor;
    color: $secondarycolor;
    font-size: 1.5vw;
    font-family: $secondaryfont;
    &:hover {
      background-color: $secondarycolor;
      color: white;
    }
  }
}
