@import '../../variables';

nav {
  align-items: center;
  background-color: $primarycolor;
  border-bottom: 12px solid $secondarycolor;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;

  img {
    width: 15vw;
    margin-left: 4vw;
    margin-bottom: -5.5vw;
  }

  div {
    margin-right: 4vw;
    margin-bottom: -2vw;
  }

  // Hamburger icon

  .col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
  }

  .col:first-of-type {
    margin-left: 0;
  }

  .hamburger {
    margin-right: 20px;
  }

  .hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #000000;
    display: block;
    margin: 8px auto;
  }

  .hamburger:hover{
    cursor: pointer;
  }
}

.main-nav {
  position: fixed;
}
