@import '../../variables';

nav {
  align-items: center;
  background-color: $primarycolor;
  border-bottom: 12px solid $secondarycolor;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;

  img {
    margin-left: 4vw;
    margin-bottom: -5.5vw;
  }

  div {
    margin-right: 4vw;
    margin-bottom: -2vw;
  }
}

.main-nav {
  position: fixed;
}

@media only screen and (max-width: 400px) {

  nav {
    padding-top: 10vw;
  }

}
