@import '../../variables';

nav {
  align-items: center;
  background-color: $primarycolor;
  border-bottom: 6px solid $secondarycolor;
  display: flex;
  height: 10vh;
  justify-content: flex-end;
  width: 100vw;

  // Hamburger icon

  .col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
  }

  .col:first-of-type {
    margin-left: 0;
  }

  .hamburger {
    margin-right: 20px;
  }

  .hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #000000;
    display: block;
    margin: 8px auto;
  }

  .hamburger:hover{
    cursor: pointer;
  }
}
