@import '../../variables.scss';

.message-container {
  padding-top: 12vw;
  height: auto;
  min-height: 100vw;
  background-color: $primarycolor;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    align-self: flex-start;
    color: $secondarycolor;
    font-family: $secondaryfont;
    font-size: 35px;
    margin: 0 2vw;
  }
}

.messages-box {
  margin-top: 3vw;
  padding: 2vw;
  border: 5px solid $secondarycolor;
  width: 60%;
  overflow-y: scroll;
  height: 50vh;
}

@media only screen and (max-width: 400px) {

  .message-container {
    padding-top: 25vw;
    height: auto;
    min-height: 195vw;
  }

  .messages-box {
    width: 90%;
  }

}
