@import '../../variables.scss';

.mentors-container {
  background-color: $primarycolor;
  padding-top: 6vw;
}

.mentor-cards-container {
  padding-top: 10vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
