.message {
  display: flex;
  margin-top: 1vw;
  
  img {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
  }

  p {
    background-color: white;
    width: 30vw;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sender {
  justify-content: flex-end;
}

.user {
  justify-content: start;
}
